@page "/"

<div class="search">
    <form id="searchForm" autocomplete="off" @onsubmit="() => this.Submit()" @onsubmit:stopPropagation>
        <input id="searchBox" disabled=@Disabled type="text" name="search" placeholder="Search..."
            @bind-value="Model.Query" @bind-value:event="oninput" @onkeydown="this.HandleKeyPresss" />
        <div class="results">
            @foreach (var result in Model.Items)
            {
                <div class=@result.ClassName>
                    @* TODO: turn into component *@
                    <a href=@result.Url>
                        <strong>@result.Url</strong>
                        <p>
                            @result.Content
                        </p>
                    </a>
                </div>
            }
        </div>
    </form>
</div>
