.search {
    background-color: lightcoral;
    text-align: center;
}

.results {
    min-height: 20em;
    min-width: 80ch;
}

#searchBox {
    width: 100%;
    margin: 0px;
    padding: 10px;
    font-size: 2em;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}

.selected {
    background-color: aliceblue;
}