@page "/"
@attribute [Authorize]

@if(!Disabled)
{
    <CheckLoginState />
}

<div class="search">
    <form id="searchForm" autocomplete="off" @onsubmit="() => this.Submit()" @onsubmit:stopPropagation>
        <input id="searchBox" disabled=@Disabled type="text" name="search" placeholder="Search..."
            @bind-value="Model.Query" @bind-value:event="oninput" @onkeydown="this.HandleKeyPresss" />
        <div class="results">
            @foreach (var result in Model.Items)
            {
                <div class=@result.ClassName>
                    <SearchResult Query=@Model.Query Result=@result />
                </div>
            }
        </div>
    </form>
</div>
